.projectsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $space-xs;
  width: fit-content;
  margin-inline: auto;

  &__cell {
    position: relative;
    display: grid;
    place-items: center;

    & > img {
      background-repeat: no-repeat;
      background-size: cover;
      width: 6rem;
      aspect-ratio: 1 / 1;
    }

    & > span {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;

      & > .p {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        font-family: 'WorkSans-Bold', sans-serif;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  @include screen-md {
    grid-template-columns: repeat(4, 1fr);
  }
}
