.projectsModal {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  left: 0;
  right: 0;
  z-index: 100;
  max-width: 650px;
  padding: $space-md;
  border: 2px solid black;

  gap: $space-sm;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    'img title'
    'img body'
    'img body'
    'img body'
    'stack stack';

  &__img {
    grid-area: img;
    width: 100%;
    justify-self: start;
    align-self: start;
  }

  & > .h3 {
    grid-area: title;
    align-self: center;
  }

  &__body {
    grid-area: body;
  }
}
