.projectsModal {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  left: 1.5rem;
  right: 1.5rem;
  z-index: 100;
  max-width: 650px;
  padding: $space-sm;
  box-shadow: 0px 0px 10px var(--black);
  @include fade-in;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;

  gap: $space-sm;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    'img title'
    'body body'
    'stack stack';

  &__img {
    grid-area: img;
    width: 100%;
    justify-self: start;
    align-self: start;
  }

  &__title {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > .h3 {
      align-self: center;
    }

    & > svg {
      align-self: start;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }
  }

  &__body {
    grid-area: body;
  }

  &__stack {
    grid-area: stack;
  }

  @include screen-sm {
    grid-template-columns: 1fr 3fr;
  }

  @include screen-md {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      'img title'
      'img body'
      'img body'
      'img body'
      'stack stack';
  }
}
