.button,
.hoverButton {
  all: unset;
  padding: 0.25em 0.75em;
  font-family: 'WorkSans-Regular', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.75rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

.button[data-active='true'] {
  color: var(--secondary-color);
}

.hoverButton {
  background-color: var(--secondary-color);
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
  }
}
