.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $space-xs;
  width: fit-content;
  margin-inline: auto;

  &__cell {
    all: unset;
    width: 5rem;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
    text-align: center;
    font-family: 'WorkSans-Regular', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.75rem;
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
      cursor: pointer;
    }
  }
}
