.section {
  min-height: 100vh;
  width: 100%;
  padding: $space-sm;
  background-color: var(--background-color);
  color: var(--color);

  & > .about__container,
  & > .contact__container,
  & > .projects__container {
    max-width: 1100px;
  }
}
