@charset 'utf-8';
@use 'sass:math';

@import './variables';
@import './mixins';
@import './functions';

// App
@import './app.scss';

// Layout
@import '../layout/header/style.scss';
@import '../layout/main/style.scss';
@import '../layout/nav/style.scss';
@import '../layout/section/style.scss';

// Sections
@import '../sections/about/style.scss';
@import '../sections/banner/style.scss';
@import '../sections/contact/style.scss';
@import '../sections/projects/style.scss';

// Components
@import '../components/about-content/style.scss';
@import '../components/button/style.scss';
@import '../components/button-collection/style.scss';
@import '../components/contact-form/style.scss';
@import '../components/input/style.scss';
@import '../components/projects-grid/style.scss';
@import '../components/projects-modal/style.scss';
@import '../components/project-content/style.scss';
@import '../components/stack-list/style.scss';
@import '../components/tech-stack/style.scss';
@import '../components/timeline/style.scss';
@import '../components/typography/style.scss';
