// BREAKPOINTS
$break-sm: 576px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1400px;

// SPACING
$space-xxs: 0.25rem;
$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 2rem;
$space-lg: 3rem;
$space-xl: 4rem;
