.h1,
.h2,
.h3 {
  font-family: 'CrimsonText-Regular', serif;
  font-weight: normal;

  &[data-underline='true'] {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
  }
}

.p,
.label {
  font-family: 'WorkSans-Regular', sans-serif;
  font-weight: normal;
}

.p {
  font-size: 1rem;
  line-height: 1.75rem;
}

.label {
  font-size: 0.65rem;
  line-height: 1rem;
}

.h1 {
  font-size: 12rem;
  line-height: 13rem;
}

.h2 {
  font-size: 4rem;
  line-height: 4.5rem;
}

.h3 {
  font-size: 2rem;
  line-height: 2.5rem;
}
