@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

$animation-duration: 1s;

.about {
  --primary-color: var(--dark-blue);
  --secondary-color: var(--white);
  --background-color: var(--light-blue);
  --color: var(--black);

  display: grid;
  place-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-md;

    & .about__contentPersonal,
    & .about__contentProfessional {
      animation-duration: $animation-duration;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both;
    }

    & .about__contentPersonal {
      animation-name: fadeInLeft;
    }

    & .about__contentProfessional {
      animation-name: fadeInRight;
    }
  }
}
