.about {
  --pimary-color: var(--black);
  --secondary-color: var(--dark-blue);
  --background-color: var(--light-blue);
  --color: var(--black);

  display: grid;
  place-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
