.aboutContent {
  &__imageText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-md;

    @include screen-md {
      align-items: flex-start;
      flex-direction: row;
      height: 280px;
    }
  }

  &__textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: $space-md;
  }

  &__imageWrapper {
    width: 20vh;
    height: 20vh;

    & > img {
      object-fit: cover;
      width: 100%;
      height: 100%;

      @include screen-md {
        min-width: 20vh;
        min-height: 20vh;
      }
    }

    @include screen-md {
      width: 20vh;
      height: 20vh;
    }
  }
}
